* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  background-color: #1f2937;
  height: 70px;
  justify-content: center;
  color: white;
}

.nav-container {
  display: flex;
  width: 900px;
  justify-content: space-between;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 300px;
  display: flex;
  justify-content: space-between;
  color: #e5e7eb;
}

main {
  display: flex;
  flex-direction: column;
}

.intro {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.intro__container {
  display: flex;
  width: 900px;
}

.intro__content {
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__content h2 {
  font-size: 2.5rem;
}

.intro__text {
  padding-right: 40px;
  color: #e5e7eb;
  line-height: 20px;
}

.watch-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 35px;
  border-radius: 10px;
  background-color: #3882f6;
  font-weight: bold;
}

.intro__img {
  width: 450px;
  overflow: hidden;
  border-radius: 10px;
}

.intro__img img {
  width: 100%;
  height: 100%;
}

.section-two {
  height: 400px;
}

.characters {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characters h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 900;
  color: #1f2937;
}

.characters__container {
  display: flex;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  margin: 10px;
}

.character div:nth-child(2) {
  text-align: center;
  color: #838486;
}

.character div:nth-child(2) b {
  color: #1f2937;
}

.character__img {
  border-radius: 10px;
  border: 5px solid #3882f6;
  overflow: hidden;
  margin-bottom: 5px;
}

.characters img {
  width: 100%;
  height: 100%;
}
